html {
	font-size: 16px;
	
}
#logo-Img {
	border-radius: 4px;
	opacity: 0.9;
}


#logo-text {
	color: #474747;
	font-weight: 700;
	padding-left: 6px;
	font-size: 1.2rem;
}
#logo {
	opacity: 0.9;
}
#menu-items {
	font-weight: 400;
}

#search-bar {
	background-image: url('../media/header.jpg');
	opacity: 0.8;
	height: 62vh;
	color: #FCFCFC;
	margin-top: 8vh;
	padding-top: 2vw;

}
#nav {
	padding-left: 4vw;
	padding-right: 8vw;
	border-bottom: 1px solid #E6E6E6;
	background: white;
}


#header-text {
	font-size: 3rem;
	font-weight: 600;
}

.search-text {
	height: 8vh;
	border-radius: 5px;
	margin-left: 1.5vw;
	padding-left: 2vw;
	border: none;
	width: 30vw;
	font-size: 1.1rem;
	font-weight: 600;
}

#search-subscript {
	margin-left: 13.5vw;
	font-size: .9rem;
	font-weight: 400;
}
#dropdownMenuButton {
	height: 8vh;
	width: 12vw;
	background-color: white;
	color: #615D5D;
	border: none;
	font-size: 1.1rem;
	font-weight: 500;
	color: #525252;

}

#dropdownMenuButton:hover {
	color: black;
}

.dropdown {
	padding-left: 28vw;

}


#search-dropdown {
	width: 12vw;
}
#search-dropdown a{
	border-top: 1px solid #5B5B5B;
	height: 7vh;
}
#search-dropdown a:nth-child(1){
	border-top: none;
}

#search-dropdown a:hover {
	background: #1C1C1C;
	color: white;
	opacity: 1;
}

#search-dropdown {
	padding: 0;
	border: 1px solid #5B5B5B;
	overflow-y: scroll;
	height: 28vh;
}

.backgroung-white {
	background-color: white;
	color: #E1E1E1C;
}

.nav-icon {
	height: 8vh;
	width: 4vw;
}

.mid-nav-icon {
	opacity: 0.5;

}


.mid-nav-icon:hover {
	opacity: 0.9;
	cursor: pointer;
}

#mid-nav {
	background-color: #F6F6F6;
	/*height: 22vh;*/
	padding-top: 10px;
}

#mobile-number {
	width: 20vw;
	height: 8vh;
	border-left: none;
	border-radius: 0 5px 5px 0;

}
#mobile-number-pretext {
	background: none;
	border-right: none;
	border-radius: 5px 0 0 5px ;
}

.img-icon {
	width: 15vw;
	height: 13vh;
}

.sub-footer-header {
	font-size: 1rem;
	font-weight: 600;


}

#sub-footer p {
	font-size: 0.9rem;
	font-weight: 550;
	padding-top: 5px;
	
}

.sub-footer-icon {
	height: 50px;
	width: 50px;
	
}

#app-iphone {
	height: 80vh;
	width: 27vw;
}


#sub-footer {
	padding-left: 8vw;
	padding-right: 8vw;
}

#footer-showcase {
	padding-left: 15vw;
	padding-right: 15vw;
	text-align: center
}

#footer-showcase h1 {
	font-size: 3rem;
	font-weight: 550;
}
#footer-showcase p {
	font-weight: 550;
}

#sub-icon-1,#sub-icon-2,#sub-icon-3 {
	padding-left: 2.2vw; 
	padding-top: 10px;
}


#footer-nav-service li {
	display: inline;
	text-align: center;
	color: #B9B8B8;
	padding-right: 2vw;
	font-weight: 600;
}

#footer-nav h2 {
	color: #EBEBEB;
	font-size: 1.3rem;
	padding-left: 35vw;
	padding-top: 4vh;
	padding-bottom: 3vh;
	font-weight: 600;
}

#footer-nav2 a{
	color: white;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 15px;
	padding-bottom: 15px;
}

#footer {
	background: #212121;
	padding-left: 10vw; 
	padding-right: 7vw; 
	padding-bottom: 6vh;
	border-bottom: 1px dotted #5B5B5B;
}


#footer li {
	list-style-type: none;
	padding-top: 2vh;
}

#footer li a{
	color: #C1C1C1;
	font-size: 1rem;
}

#footer h5 {
	font-size: 0.9rem;
	text-transform: uppercase;
}

#bottom-nav {
	background: #212121;
	padding-left: 10vw; 
	padding-right: 7vw;
	padding-top: 3vh;
	padding-bottom: 2vh;
}

.bottom-nav-logo {
	height: 5.5vh;
	width: 2.5vw;
}
#bottom-logo-text {
	color: #CFCFCF;
	font-weight: 600;
	font-size: 1.1rem;
	padding-left: 4px;
	padding-right: 10px;
}
.bottom-nav-social-img {
	height: 23px;
	width:17px;
}

.bottom-nav-social {
	padding-left: 10px;

}
#bottom-nav a {
	color: #CFCFCF;
}

body a:hover {
	text-decoration: none;
}

#bottom-logo-text,#logo-text:hover {
	cursor: pointer;
}


.search-z-index {
	position: relative;
	z-index: -1;
}

@media screen and (max-width: 992px){
	#navbarNavAltMarkup {
		background: #383636; 
	}
	#navbarNavAltMarkup a {
		color: white;
		padding-left: 10px;
	}

	#nav {
		padding-left: 1px;
		padding-right: 1px;
	}
}


@media screen and (max-width: 768px) {

	html {
		font-size: 12px;
	}
	#search {
		display: none;
	}
	.search-text {
		width: 80vw;

	}
	#search-text-row {
		padding-left: 6vw;
		padding-top: 5vh;

	}

	#app-iphone {
		width: 50vw;
		height: 30vh;
	}

	#app-download-iphone {
		padding-top: 18vh;
	}

	#img-icon-google, #img-icon-apple {
		height: 5vh;
		width: 25vw;
	}

	.col-s {
		padding-top: 1vh; 
		padding-bottom: 1vh;
	}

	#text-app-link {
		
		margin-left: 3vw;
	}

	#mobile-number {
		width: 50vw;
	}

	#mobile-num-div {
		padding-bottom: 2vh;
	}
	#header-text-row {
		padding-top: 2vh;
		padding-left: 3vw;
	}
	#header-subtext-row {
		padding-left: 3vw;	}

}

#app-download-text {
	padding-top: 25vh;
}

@media screen and (min-width: 768px) and (max-width: 1317px) {
	.search-text {
		margin-left: 8vw;
	}
	#dropdownMenuButton {
		width: 18vw;
	}




}

@media screen and (max-width: 540px) {
	#header-text {
		font-size: 2.4rem;
	}
	#footer-nav h2 {
		padding-left: 18vw;
	}
	#app-download-iphone {
		height: 30vh;
		padding-top: 4vh;
		padding-bottom: 2vh;
	}

	#app-download-text {
		padding-top: 8vh;
	}

	.nav-icon {
		width: 24vw;
		height: auto;
	}

}